#content_index { 
	overflow:hidden ! important; 
}

#content_index_flow { 
	overflow-y:auto !important; 
	overflow-x:hidden !important; 
	height: 800px !important; 
	width: 100% !important; 
	padding-right:4px; 
}

.icenter { 
	text-align:center; 
}
.itopic_num { 
	text-align:center; width:30px; 
}

.itopic_titles { 
	text-align:left ! important; 
	float:left; 
}

.itopic_rep { 
	text-align:center; 
	width:80px; 
}

.itopic_poster { 
	text-align:center; 
	width:250px; 
}

.index_table { 
	margin:0; 
	padding:0; 
}

.tlisthead { 
	color:#000000 !important; 
}

.filtrino { 
	text-align:center;
	margin:5px 5px 5px 5px; 
	text-transform:uppercase; 
	font-size:12px ! important; 
	font-weight:bold; 
}

.i_abcdz { 
	margin: 0 0 0 2px; 
	padding: 0 4px 0 4px; 
	background:#CADCEB; 
}

.i_abcdz:hover { 
	margin: 0 0 0 2px; 
	padding: 0 4px 0 4px; 
	background:#9badb9; 
	text-decoration:none ! important; 
}

.i_nourl{ 
	margin: 0 0 0 2px; 
	padding: 0 4px 0 4px; 
	background:#FFFFFF !important; 
	text-transform:uppercase; 
	color: #c2c2c2 !important; 
}

.i_all { 
	margin: 0 0 0 2px; 
	padding: 0 4px 0 4px; 
	background:#CADCEB; 
}

.i_all:hover { 
	margin: 0 0 0 2px; 
	padding: 0 4px 0 4px; 
	background:#9badb9; 
	text-decoration:none ! important; 
}

.ianytopuc { 
	text-align:center; 
	font-size:14px; 
}

.icon-topiclist	{ 
	background-image: url("./images/icon_topiclist.gif"); 
}
